 <div class="user-details">
  <h1> About Me </h1>
  <p> <b>{{site.user_description}}</b> </p>
</div>

 <div class="user">
    <div class="tech">
      <h2>Admin</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i> -->
      <i><img src="{{ "/assets/img/admin.png" | prepend: site.baseurl }}" width="80%" height="auto"></img></i>
      <p>
        Proficient in Security model, Validation Rule, Report, Dashboard and other admin configuration
      </p>
    </div>
    <div class="tech">
      <h2>Customization</h2>
      <i><img src="{{ "/assets/img/custom.png" | prepend: site.baseurl }}" width="40%" height="auto"></img></i>
      <p>
        Apex, WebService, LWC, RestAPI Integration, <br>
        Apex Transaction Limit, SOQL
      </p>
    </div>
    
    <div class="tech">
      <h2>Certification</h2>
      <i><img src="{{ "/assets/img/cert.jpg" | prepend: site.baseurl }}" width="40%" height="auto"></img></i>
      <i><img src="{{ "/assets/img/ranger.png" | prepend: site.baseurl }}" width="45%" height="auto"></img></i>
      <i><img src="{{ "/assets/img/coursera.jpg" | prepend: site.baseurl }}" width="65%" height="auto"></img></i>
      <p>  
      </p>
     </div> 
     
     <div class="tech">
      <h2>Tools/Editor</h2>      
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain"></i>      
      <p> 
        Editor: VSCode <br>
        Tools: DataLoader, Workbench, Git, AutoRabbit, Copado
      </p>
    </div> 
</div>