<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!-- <a aria-label="Send email" href="mailto:#"><i class="icon fa fa-envelope"></i></a> -->
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/prachi-p-174804115/"><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Trailhead" target="_blank" href="https://www.salesforce.com/trailblazer/ppathak1"><i class="icon fab fa-salesforce" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/prachi2708"><i class="icon fa-brands fa-github-alt" aria-hidden="true"></i></a> 
        <!-- <a aria-label="My CV" target="_blank" href="#"><i class="icon fa-solid fa-file-arrow-down" aria-hidden="true"></i></a> -->
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#hireme" data-scroll>Hire Me</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
